// Default Styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 300vh;
  font-family: $fontFamily;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#{$a-tags} {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}